@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }

.h-100 h-custom {
    margin-top: 56px;
}
.cart cart-registration cart-registration-2 {
    font-size:18px;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}




